/* color palette from <https://github.com/vuejs/theme> */
:root {
	--sdt-c-black: #000000;
	--sdt-c-black-soft: #2d2f39;
	--sdt-c-white: #ffffff;
	--sdt-c-white-soft: #f5f6fa;
	--sdt-c-white-80: rgba(255, 255, 255, 0.8);
	--sdt-c-white-50: rgba(255, 255, 255, 0.5);
	--sdt-c-white-10: rgba(255, 255, 255, 0.1);
	--sdt-c-orange: #f29015;
	--sdt-c-blue: #0900ff;
	--sdt-c-calestical-blue: #4c9cca;
	--sdt-c-calestical-blue-soft: rgba(76, 156, 202, 0.65);
	--sdt-c-calestical-blue-dark: #476981;
	--sdt-c-lavender: #e5edff;
	--sdt-c-lavender-blue: #c8d9ff;
	--sdt-c-purple: #393186;

	--sdt-c-primary: #09233a;
}

/* semantic color variables for this project */
:root {
	--color-background: var(--sdt-c-white);
	--color-background-soft: var(--sdt-c-white-soft);
	/* --color-background-mute: var(--vt-c-white-mute); */

	/* --color-border: var(--vt-c-divider-light-2);
	--color-border-hover: var(--vt-c-divider-light-1); */
  --color-border-focused: var(--sdt-c-orange);

	--color-heading: var(--sdt-c-primary);
	--color-text: var(--sdt-c-primary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family:
		Montserrat,
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
  color: var(--color-text);
}