$text-color: var(--color-text);
$row-main-color: var(--sdt-c-lavender);
$row-alt-color: var(--sdt-c-lavender-blue);
$row-checked-color: var(--sdt-c-calestical-blue);
$row-focused-color: var(--sdt-c-calestical-blue);
$orange-border-color: var(--sdt-c-orange);
$button-color: var(--sdt-c-calestical-blue);
$button-hover-color: var(--sdt-c-calestical-blue);
.dx-datagrid {
	color: $text-color;
	.dx-datagrid-table {
		border-collapse: separate;
		border-spacing: 0 10px;
		margin-top: -10px;

		.dx-header-row {
			background-color: $row-main-color;
			> td {
				border-bottom: 1px solid $orange-border-color;
			}
		}
		.dx-datagrid-filter-row {
			background-color: $row-alt-color;
			.dx-editor-cell {
				.dx-texteditor:not(.dx-tagbox) {
					.dx-texteditor-input {
						height: 32px;
						line-height: 32px;
						margin: 8px;
						padding: 0;
						border-bottom: 1px solid black;
					}
					&.dx-datebox {
						.dx-texteditor-input {
							padding-left: 32px;
						}
					}
				}
			}
		}
		.dx-data-row {
			background-color: $row-main-color;
			&.dx-row-alt {
				td {
					background-color: $row-alt-color;
				}
			}

			a,
			a:hover {
				color: var(--sdt-c-blue);
			}

			&.dx-selection > td,
			&.dx-selection:hover > td {
				border-top: none !important;
				border-bottom: none !important;
				background-color: $row-checked-color;
				color: var(--sdt-c-white);
			}
			.dx-button {
				&.dx-button-mode-outlined {
					color: $text-color;
					border-color: rgba(9, 35, 58, 0.3);
					:hover {
						color: $button-hover-color;
					}
				}
			}
			&.dx-state-hover {
				&:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(
						.dx-edit-row
					):not(.dx-row-focused) {
					> td {
						.dx-button {
							&.dx-button-mode-outlined {
								color: var(--sdt-c-white);
								border-color: var(--sdt-c-white);
							}
						}
					}
				}
			}
		}
	}

	&-pager {
		padding-top: 30px;
		.dx-pages .dx-page-indexes,
		.dx-page-sizes {
			display: flex;
			gap: 20px;
		}
		.dx-page,
		.dx-page-size {
			min-width: 60px;
			margin: 0;
			text-align: center;
			border-radius: 30px;
			font-size: 18px;
			line-height: 18px;
			padding: 8px 12px;
			background-color: $row-alt-color;

			&.dx-selection {
				background-color: $button-hover-color;
			}
		}
		.dx-navigate-button {
			color: $button-hover-color;
			align-self: center;
		}
	}
}

.dx-popup-wrapper {
	.dx-toolbar {
		&:not(.dx-popup-bottom) {
			background-color: $row-alt-color;
		}
		color: $text-color;
	}
}

.dx-form {
	.dx-texteditor {
		border: none;
		&,
		&.dx-state-readonly {
			background-color: $row-main-color;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
		}
		&.dx-state-focused {
			&::before {
				border-bottom: 1px solid $orange-border-color;
			}
		}
	}
}
