$text-color: var(--color-text);
$row-main-color: var(--sdt-c-lavender);
$row-alt-color: var(--sdt-c-lavender-blue);
$row-checked-color: var(--sdt-c-calestical-blue);
$row-focused-color: var(--sdt-c-calestical-blue);
$orange-border-color: var(--sdt-c-orange);
$button-color: var(--sdt-c-calestical-blue);
$button-hover-color: var(--sdt-c-calestical-blue);
.dx-datagrid {
	color: $text-color;
	.dx-datagrid-table {
		border-collapse: separate;
		border-spacing: 0 2px;
		margin-top: -2px;

		.dx-header-row {
			background-color: $row-main-color;
			> td {
				border-bottom: 1px solid $orange-border-color;
			}
		}
		.dx-datagrid-filter-row {
			background-color: $row-alt-color;

			&
				> td:hover:not(.dx-command-select):not(.dx-command-expand):not(
					.dx-editor-cell
				):not(.dx-command-edit):not(.dx-datagrid-group-space) {
				background-color: inherit;
			}
			.dx-editor-cell {
				& > div {
					&.dx-editor-with-menu .dx-texteditor,
					& .dx-texteditor.dx-datebox {
						.dx-texteditor-input {
							padding-left: 32px;
						}
					}
					.dx-texteditor {
						.dx-texteditor-input {
							height: 32px;
							line-height: 32px;
							margin: 8px;
							padding: 0;
							border-bottom: 1px solid black;
						}
					}
				}
			}
		}
		.dx-data-row {
			background-color: $row-main-color;
			&.dx-row-alt {
				td {
					background-color: $row-alt-color;
				}
			}

			a {
				color: var(--sdt-c-blue);
				text-decoration: none;
				&:hover {
					color: var(--sdt-c-blue);
					text-decoration: underline;
					cursor: pointer;
				}
			}

			&.dx-state-hover > td,
			&.dx-selection > td,
			&.dx-selection:hover > td {
				border-top: none !important;
				border-bottom: none !important;
				background-color: $row-checked-color !important;
				color: var(--sdt-c-white) !important;
			}
		}
	}

	&-pager {
		padding-top: 30px;
		.dx-pages {
			display: flex;
			gap: 8px;
			align-items: center;
		}
		.dx-pages .dx-page-indexes,
		.dx-page-sizes {
			display: flex;
			gap: 20px;
		}
		.dx-page,
		.dx-page-size {
			min-width: 60px;
			margin: 0;
			text-align: center;
			border-radius: 30px;
			font-size: 18px;
			line-height: 18px;
			padding: 8px 12px;
			background-color: $row-alt-color;

			&.dx-selection {
				background-color: $button-hover-color;
			}
		}
		.dx-navigate-button {
			color: $button-hover-color;
			align-self: center;
		}
	}
}

.dx-popup-wrapper {
	& > .dx-overlay-content > .dx-toolbar {
		&:not(.dx-popup-bottom) {
			background-color: $row-alt-color;
		}
		color: $text-color;
	}
}

.dx-form {
	.dx-texteditor {
		border: none;
		&,
		&.dx-state-readonly {
			background-color: $row-main-color;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
		}
		&.dx-state-focused {
			&::before {
				border-bottom: 1px solid $orange-border-color;
			}
		}
	}
}

.dx-button {
	color: var(--color-text);
	border-color: var(--color-text);
	border-radius: 4px;
	&.icon-circle-border {
		::v-deep(.dx-icon) {
			font-size: 14px;
			border: 1px solid var(--color-text);
			border-radius: 50%;
		}
		&.dx-state-hover {
			.dx-icon {
				border-color: var(--sdt-c-white);
			}
		}
	}
	&.dx-button-mode-outlined {
		border-top-width: 0.5px;
		border-right-width: 1.5px;
		border-bottom-width: 1.5px;
		border-left-width: 0.5px;
	}
	&.dx-state-hover {
		background-color: var(--color-background-hover);
		&,
		.dx-icon {
			color: var(--sdt-c-white);
		}
	}
}
